@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

.t1{
    font-size: 20px;
    font-weight: 600px;
}

body{
    background-color: #ffe5b4;
    font-family: 'Merriweather';
    font-size: 14px;
    font-weight: 400px;
}

.head{
    background-color: #fff9f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.OsnInfo{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.text1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.naviki{
    background-color: #fff9f0;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.spisok{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.primeri{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.kontakti{
    background-color: #fff9f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.SocSeti{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}


